html {
  min-inline-size: 100vw;
  min-block-size: 100%;
  padding: 3%;
}

body {
  min-inline-size: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  word-break: keep-all;
  overflow-wrap: normal;
  hyphens: none;
  -moz-hyphens: none;
  -webkit-hyphens: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: 'opensans', sans-serif;
  background-color: #B98474;
  font-size: 16px;
  line-height: 1.125;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
}

/*
Color Palette
#af3415 - red-orange
#56423C - brown
#BEA69F - light-brown
#006FC8 - blue
#00A3FF - lightblue
#fc890f - light-orange
*/

*,
*::after,
*::before {
  box-sizing: inherit;
}

header {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
main {
  padding: 2%;
  border: 2px solid #af3415;
  border-radius: 1rem;
  min-inline-size: 100%;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  justify-content: center;
  align-self: center;
}
.area {
  display: flex;
  flex-flow: row nowrap;
  padding-top: 0;
  padding-bottom: 0;
  border: none;
  min-inline-size: 50%;
  margin: 0;
  min-block-size: 1rem;
  gap: 0.5rem;
  align-self: stretch;
}

#location {
  min-inline-size: 50%;
}

section {
  border: 2px solid #af3415;
  border-radius: 1rem;
  margin-top: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  min-block-size: 10rem;
  min-inline-size: 100%;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
}

article {
  border: 2px solid #af3415;
  border-radius: 1rem;
  min-inline-size: 80%;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
}

label {
  display: flex;
  align-self: center;
}

input {
  block-size: 2rem;
  display: flex;
  align-self: center;
  border-radius: 0.5rem;
  padding: 1rem;
}

#submit {
  block-size: 2rem;
  display: flex;
  align-self: center;
  align-items: center;
  border-radius: 0.5rem;
  padding: 1rem;
}

#submit:active {
  border-color: #006fc8;
}

@media screen and (max-width: 24rem) {
  body {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 75rem) {
  body {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    max-inline-size: 85vw;
  }
}
